CompileFlags:
  Compiler: xtensa-esp32s3-elf-gcc
  BuiltinHeaders: QueryDriver
  Add:
    -I/home/finn-arch/Nextcloud/Sync/ProgramSync/Vscodium/Luxonis/AMP-S3-optimization/clangd_fix
    -isystem.
    -isystem.pio/build/adafruit_matrixportal_esp32s3/bootloader/config
    -isystem.pio/build/adafruit_matrixportal_esp32s3/config
    -isystem.pio/build/adafruit_matrixportal_esp32s3/esp-idf/mbedtls/mbedtls/library
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/app_trace/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/app_trace/port/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/app_trace/private_include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/app_update/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/bootloader/subproject/components/micro-ecc
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/bootloader/subproject/components/micro-ecc/micro-ecc
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/bootloader_support/bootloader_flash/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/bootloader_support/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/bootloader_support/private_include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/cmock/CMock/src
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/console
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/console/private_include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/driver/deprecated
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/driver/i2c/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/driver/touch_sensor/esp32s3/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/driver/touch_sensor/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/driver/twai/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/efuse/esp32s3/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/efuse/esp32s3/private_include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/efuse/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/efuse/private_include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp-tls
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp-tls/esp-tls-crypto
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp-tls/private_include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_adc/deprecated/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_adc/esp32s3/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_adc/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_adc/interface
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_app_format/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_bootloader_format/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_coex/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_common/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_ana_cmpr/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_cam/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_cam/interface
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_dac/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_gpio/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_gptimer/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_i2c/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_i2s/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_isp/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_jpeg/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_ledc/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_mcpwm/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_parlio/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_pcnt/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_ppa/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_rmt/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_sdio/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_sdm/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_sdmmc/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_sdspi/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_spi/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_tsens/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_uart/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_driver_usb_serial_jtag/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_event/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_event/private_include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_gdbstub/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_gdbstub/private_include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_gdbstub/src/port/xtensa/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_hid/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_hid/private
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_http_client/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_http_client/lib/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_http_server/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_http_server/src/port/esp32
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_http_server/src/util
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_https_ota/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_https_server/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_hw_support/debug_probe/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_hw_support/dma/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_hw_support/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_hw_support/include/esp_private
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_hw_support/include/soc
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_hw_support/include/soc/esp32s3
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_hw_support/ldo/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_hw_support/port/esp32s3
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_hw_support/port/esp32s3/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_hw_support/port/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_lcd/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_lcd/interface
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_lcd/priv_include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_lcd/rgb/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_local_ctrl/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_local_ctrl/proto-c
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_local_ctrl/src
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_mm/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_netif/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_netif/lwip
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_netif/private_include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_partition/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_phy/esp32s3/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_phy/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_pm/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_psram/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_ringbuf/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_rom/esp32s3
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_rom/esp32s3/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_rom/esp32s3/include/esp32s3
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_rom/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_security/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_security/src/esp32s3
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_system/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_system/port
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_system/port/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_system/port/include/private
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_system/port/soc
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_timer/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_timer/private_include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_vfs_console/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_wifi/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_wifi/include/local
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_wifi/wifi_apps/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_wifi/wifi_apps/nan_app/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/esp_wifi/wifi_apps/roaming_app/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/espcoredump/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/espcoredump/include/port/xtensa
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/espcoredump/include_core_dump
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/espcoredump/include_core_dump/port/xtensa
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/fatfs/diskio
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/fatfs/src
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/fatfs/vfs
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/freertos
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/freertos/FreeRTOS-Kernel/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/freertos/FreeRTOS-Kernel/include/freertos
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/freertos/FreeRTOS-Kernel/portable/xtensa/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/freertos/FreeRTOS-Kernel/portable/xtensa/include/freertos
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/freertos/config/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/freertos/config/include/freertos
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/freertos/config/xtensa/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/freertos/esp_additions
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/freertos/esp_additions/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/hal/esp32s3/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/hal/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/hal/platform_port/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/heap/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/heap/tlsf
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/heap/tlsf/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/http_parser
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/idf_test/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/idf_test/include/esp32s3
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/ieee802154/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/json/cJSON
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/log/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/log/include/esp_private
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/lwip/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/lwip/include/apps
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/lwip/include/apps/sntp
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/lwip/lwip/src/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/lwip/port/esp32xx/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/lwip/port/esp32xx/include/arch
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/lwip/port/esp32xx/include/sys
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/lwip/port/freertos/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/lwip/port/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/mbedtls/esp_crt_bundle/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/mbedtls/mbedtls/3rdparty/everest/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/mbedtls/mbedtls/3rdparty/everest/include/everest
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/mbedtls/mbedtls/3rdparty/everest/include/everest/kremlib
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/mbedtls/mbedtls/3rdparty/p256-m
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/mbedtls/mbedtls/3rdparty/p256-m/p256-m
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/mbedtls/mbedtls/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/mbedtls/mbedtls/library
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/mbedtls/port/aes/dma/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/mbedtls/port/aes/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/mbedtls/port/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/mbedtls/port/sha/dma/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/mqtt/esp-mqtt/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/mqtt/esp-mqtt/lib/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/newlib/platform_include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/newlib/priv_include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/nvs_flash/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/nvs_flash/private_include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/nvs_sec_provider/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/perfmon/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/protobuf-c/protobuf-c
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/protocomm/include/common
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/protocomm/include/crypto/srp6a
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/protocomm/include/security
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/protocomm/include/transports
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/protocomm/proto-c
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/protocomm/src/common
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/pthread/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/rt/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/rt/private_include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/sdmmc/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/soc/esp32s3
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/soc/esp32s3/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/soc/esp32s3/register
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/soc/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/spi_flash/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/spi_flash/include/spi_flash
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/spiffs
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/spiffs/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/spiffs/spiffs/src
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/tcp_transport/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/tcp_transport/private_include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/touch_element/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/unity/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/unity/unity/src
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/usb/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/usb/private_include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/vfs/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/vfs/private_include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/wear_levelling/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/wear_levelling/private_include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/wifi_provisioning/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/wifi_provisioning/proto-c
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/wifi_provisioning/src
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/wpa_supplicant/esp_supplicant/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/wpa_supplicant/esp_supplicant/src
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/wpa_supplicant/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/wpa_supplicant/port/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/wpa_supplicant/src
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/wpa_supplicant/src/crypto
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/wpa_supplicant/src/utils
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/xtensa/deprecated_include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/xtensa/esp32s3/include
    -isystem/home/finn-arch/.platformio/packages/framework-espidf/components/xtensa/include
    -isystem/home/finn-arch/.platformio/packages/toolchain-gccarmnoneeabi/include
    -isystem/home/finn-arch/.platformio/packages/toolchain-riscv32-esp/riscv32-esp-elf/include
    -isystem/home/finn-arch/.platformio/packages/toolchain-riscv32-esp@8.4.0+2021r2-patch5/riscv32-esp-elf/include
    -isystem/home/finn-arch/.platformio/packages/toolchain-xtensa-esp-elf/xtensa-esp-elf/include
    -isystem/home/finn-arch/.platformio/packages/toolchain-xtensa-esp32/xtensa-esp32-elf/include
    -isystem/home/finn-arch/.platformio/packages/toolchain-xtensa-esp32s3/xtensa-esp32s3-elf/include
    -isysteminclude
    -isystemlib/frame_timer
    -isystemlib/hub75_driver
    -isystemsrc
  Remove:
    - -mlongcalls
    - -fno-shrink-wrap
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion

Diagnostics:
  Suppress:
    - missing-include
    - unused-includes
    - unused-include-directive
    - unused-header
